body {
  background-image: url("https://i.pinimg.com/originals/dc/be/b1/dcbeb161bdf1d6537904b24eaf13933a.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.header {
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid gray;
  background-color: white;
  flex: 1 100%;
  justify-content: flex-start;
}
.header-link {
  margin: 15px;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-top: 1px solid gray;
}