.main {
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    height: auto;
}
.content__item {
    justify-content: center;
    background-color: white;
    text-align: center;
    width: 200px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 20px;
    margin: 25px;
}
.content__item-image {
    display: block;
    width: 200px;
    height: auto;
}
.content__item-name {
 flex-shrink: 2;
}