.enter {
  opacity: 0.01;
}
.enter.enterActive {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.leave {
  opacity: 1;
}
.leave.leaveActive {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}