@mixin font($font-family, $font-weight, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color;
}

.content {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  margin-top: 60px;

  &-container {
    display: flex;
    width: 850px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &__select {
      display: block;
      width: 100%;
      height: auto;
      justify-content: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: white;
      width: 250px;
      padding: 0 0 20px 0;
      margin: 15px;
      justify-content: center;
      align-items: center;

      &-image {
        width: 100%;
        height: 230px;
        object-fit: cover;
      }

      &-rating {
        @include font(Ayuthaya, bold, red);
        position: absolute;
        top: 3px;
        left: 3px;
        padding: 5px;
        cursor: pointer;
      }
      &-category {
        @include font(Ayuthaya, bold, black)
      }
    }
  }
}



